<!--div id="product-add" class="add">
	<h2>[[title]]</h2>
	<div id="form">
		<div class="inputs">
			<p>
				<label>Producto</label>
				<input type="text" placeholder="Nombre Producto" ng-model="product_name">
				<span hide>*</span>
			</p>
			<p>
				<label>Precio</label>
				<input type="number" placeholder="Precio unitario" ng-model="product_price">
				<span hide>*</span>
			</p>
			<p>
				<label>Presentación</label>
				<select 
					ng-options="option.name for option in product_presentation.data.availableOptions track by option.id"
		      		ng-model="product_presentation.data.selectedOption">
				</select>
				<span hide>*</span>
			</p>
			<p>
				<label>Categoía</label>
				<select 
					ng-options="option.name for option in product_category.data.availableOptions track by option.id"
		      		ng-model="product_category.data.selectedOption">
				</select>
				<span hide>*</span>
			</p>
		</div>
		<div class="buttons">
			<a ng-click="del()" ng-show="product_id" class="button" background="accent" color="text">
				BORRAR
				<i class="material-icons">delete</i>
			</a>
			<a ng-click="goTo('products')" class="button" background="accent" color="text">
				CANCELAR
				<i class="material-icons">clear</i>
			</a>
			<a id="add-button" class="button" background="accent" color="text" ng-click="send()">
				GUARDAR PRDUCTO
				<i class="material-icons">[[button]]</i>
			</a>
		</div>
	</div>
	<div id="success" background="text">
		<span>Operación exitosa</span>
	</div>
</div-->


<style type="text/css">
	.search-icon{
		font-size: 22px;
	}
	input[type="search"]{
		height: 30px;
	}
	input.mini{
		width: 50px;
		text-align: center;
	}
	a.button{
		cursor: pointer;
		margin: 10px;
	}
	.buttons{
		margin-top: 10px;
		text-align: right;
	}
	.boucher table{
		min-height: 200px;
		display: block;
	}
</style>

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card darken-1">
			<div class="card-content boucher">
				<h2>[[title]]</h2>
				<div class="inputs">
					<p class="input-field">
						<label class="active">Nombre Producto</label>
						<input type="text" ng-model="product_name">
					</p>
					<p class="input-field">
						<label class="active">Precio unitario</label>
						<input type="number" ng-model="product_price">
					</p>
					<p class="input-field">
						<label>Presentación</label>
						<select class="browser-default"
							ng-options="option.name for option in product_presentation.data.availableOptions track by option.id"
				      		ng-model="product_presentation.data.selectedOption">
						</select>
					</p>
					<p class="input-field">
						<label>Categoía</label>
						<select class="browser-default"
							ng-options="option.name for option in product_category.data.availableOptions track by option.id"
				      		ng-model="product_category.data.selectedOption">
						</select>
					</p>
				</div>
				<div class="buttons">
					<a ng-click="del()" ng-show="product_id" class="button" color="accent">
						BORRAR
					</a>
					<a ng-click="goTo('products')" class="button" color="accent">
						CANCELAR
					</a>
					<a id="add-button" class="button" color="accent" ng-click="send()">
						GUARDAR PRDUCTO
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
