<style type="text/css">
	.search-icon{
		font-size: 22px;
	}
	input[type="search"]{
		height: 30px;
	}
</style>
<div id="products">

	<div class="row">
		<h2>PRODUCTOS</h2>

		<div class="col s12 m3 l2">
			<div class="card darken-1">
				<div class="card-content">
					<div class="row">
						<input class="col s10" type="search" ng-model="search" ng-change="load_categorys()">
						<span  class="col s2" >
							<i class="search-icon material-icons">search</i>
						</span>
					</div>
			    	<div class="collection">
						<a ng-repeat="c in categorys" ng-click="load_products(c.id, c.name)" class="collection-item">
							[[c.name]]
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m9 l10">
			<div class="card darken-1">
				<div class="card-content">
				  <div class="tools"><input type="text" id="search_tab" placeholder="Criterio de busqueda" ng-model="searchName"></div>
				  <table>
					<thead>
						<tr>
						<th>
							<span>Nombre Producto</span>
						</th>
						<th>
							<span>Presentación</span>
						</th>
						<th>
							<span>PrecioUntario</span>
						</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in products | filter:searchName">
							<td>
								<span>[[p.name]]</span>
							</td>
							<td>
								<span>[[p.presentation__name]]</span>
							</td>
							<td>
								<span>[[p.price]]</span>
							</td>
							<th class="center">
								<a href="#" style="margin: 0 auto" class="button"  ng-click="goTo('product_edit', {'product_id': p.id})" >
									<i class="material-icons">create</i>
								</a>
							</th>
						</tr>
					</tbody>
			        
			      </table>
				</div>
			</div>
	    </div>

	    <div class="fixed-action-btn">
		    <a ng-click="goTo('product_add')" class="btn-floating btn-large red">
		      <i class="large material-icons">add</i>
		    </a>
		</div>
    </div>
	<!--div class="parent">
		<section id="category" class="category-list" border="dark-primary">
			<input type="search" ng-model="search" ng-change="load_categorys()">
			<i class="material-icons">search</i>
			<ul>
				<li ng-repeat="c in categorys" ng-click="load_products(c.id, c.name)" background="text">
					[[c.name]]
				</li>
			</ul>
		</section>
		<div class="table-list" background="text">
			<div class="tools">
				<h2>[[category_name]]</h2>
				<a ng-click="goTo('product_add')" class="button" color="text" background="accent">
					AGREGAR PRODUCTO
					<i class="material-icons">add</i>
				</a>
			</div>
			<div class="tools"><input type="text" id="search_tab" placeholder="Criterio de busqueda" ng-model="searchName"></div>
			<table class="head">
				<colgroup>
					<col width="60%"></col>
					<col width="20%"></col>
					<col width="10%"></col>
					<col width="10%"></col>
				</colgroup>
				<thead>
					<tr>
						<th>
							<span>Nombre Producto</span>
						</th>
						<th>
							<span>Presentación</span>
						</th>
						<th>
							<span>PrecioUntario</span>
						</th>
						<th></th>
					</tr>
				</thead>
			</table>
			<div class="scroll">
				<table class="body">
					<colgroup>
						<col width="60%"></col>
						<col width="20%"></col>
						<col width="10%"></col>
						<col width="40px"></col>
					</colgroup>
					<tbody>
						<tr ng-repeat="p in products | filter:searchName">
							<td>
								<span>[[p.name]]</span>
							</td>
							<td>
								<span>[[p.presentation__name]]</span>
							</td>
							<td>
								<span>[[p.price]]</span>
							</td>
							<th>
								<a ng-click="goTo('product_edit', {'product_id': p.id})" class="button" color="text" background="accent">
									<i class="material-icons">create</i>
								</a>
							</th>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div-->
</div>
